
.logo {
    height: 100px;
    width: 100px;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
    position: fixed;
    top: 0;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    border: 2px;
    border-style: solid;
    border-color: black;
    margin: 3px;
    border-radius: 4px;
    background-color: #f4511e;
    text-emphasis-color: black;
    max-height: 30px;
}



a:visited {
    color: black
}
a:link {
}
a:hover {
    color: gold
}
