.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    background-color: green;
    border-radius: 5px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    border: 2px;
    border-style: solid;
    border-color: black;
    margin: 3px;
    border-radius: 4px;
    background-color: burlywood;
    text-emphasis-color: black;
    
}



a:visited {
    color: black
}
a:link {
}
a:hover {
    color: gold
}
